[Unit]
Description=Template Service

[Service]
Type=simple
PIDFile=/var/run/template-service.pid
ExecStart=/usr/bin/template-service

[Install]
WantedBy=multi-user.target
